[Unit]
Description=Run JamLinux first-boot tasks
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/jamlinux/first-boot-complete

[Service]
Type=oneshot
ExecStart=/usr/local/bin/first-boot.sh

[Install]
WantedBy=multi-user.target
